ul.multiselect-container.dropdown-menu {
    display: block;
}

button.multiselect.dropdown-toggle.btn.btn-default {
    display: none;
}

ul.multiselect-container.dropdown-menu {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: auto;
}

    /*ul.multiselect-container.dropdown-menu li.active a label.radio input[type=radio] {
        border: 1px solid red;
        display: none;
    }*/

    /*ul.multiselect-container.dropdown-menu input[type="radio"]:first-of-type {
        display: none;
    }*/

   